<script setup lang="ts">
import MainLayout from "@/layouts/MainLayout.vue";
import FullLayout from "@/layouts/MainLayout.vue";
import LoadingDailog from "./components/LoadingDailog.vue";
import MessageDialog from "./components/MessageDialog.vue";
</script>

<template>
  <component
    :is="$route.meta.layout === 'MainLayout' ? MainLayout : FullLayout"
  ></component>
  <LoadingDailog></LoadingDailog>
  <MessageDialog></MessageDialog>
</template>

<style scoped></style>
